/* projects */
.projects-container {
  width: 100%;
  margin-top: 8vh;
  /* max-width: 1200px; */

  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;

  align-items: center;
  justify-items: center;

  overflow: hidden;
}
.proj-h3-container {
  background-color: white;
  width: 100%;
  grid-row: 1;
  grid-column: 1;

  display: grid;
}
.projR1 .proj-hover-img {
  background-image: url('../../images/proj1.webp');
}
.projR2 .proj-hover-img {
  background-image: url('../../images/proj2.webp');
}
.projR3 .proj-hover-img {
  background-image: url('../../images/proj3.webp');
}
.projR4 .proj-hover-img {
  background-image: url('../../images/proj5.webp');
}
.projR5 .proj-hover-img {
  background-image: url('../../images/proj4.webp');
}
.projR6 .proj-hover-img {
  background-image: url('../../images/proj6.webp');
}
.projR7 .proj-hover-img {
  background-image: url('../../images/proj7.webp');
}

.proj-h3 {
  width: 60vw;
  text-align: center;

  font-size: 54px;
  font-weight: 400;

  justify-self: start;

  color: rgb(6, 6, 6);
}
.proj-h3-anima {
  animation: proj-h3-anima 1.4s linear;
}
@keyframes proj-h3-anima {
  0% {
    transform: translate3d(5%, 0%, 0px);
    opacity: 0.6;
  }
  50% {
    transform: translate3d(-1%, 0%, 0px);
    opacity: 0.8;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.proj {
  /* transform: translate3d(0, 0, 0), translate(0), translateZ(0); */
  backface-visibility: hidden;

  cursor: pointer;

  border-radius: 2px;

  margin-top: 10px;
  margin-bottom: 20px;

  min-height: 250px;
  max-height: 60vh;

  height: 90%;
  width: 50%;
  max-width: 800px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

  align-items: center;
  justify-items: center;

  border: 1px solid rgb(98, 98, 98);

  /* box-shadow: rgba(10,10,10, 0.7) 0px 4px 6px 0px; */
  box-shadow: rgba(6, 6, 6, 0.3) 0px 1px 1px 0px;

  /* outline: 1px solid rgb(200, 200, 200); */
  transition: 0.1s linear all;
}
.proj:hover {
  /* transform: scale(1.005); */
  box-shadow: 0px 2px 2px 0px rgb(104, 104, 104);
}

#p1 {
  justify-self: start;
  margin-left: 5vw;
}
#p2 {
  justify-self: start;
  margin-left: 5vw;
}
#p3 {
  justify-self: start;
  margin-left: 13vw;
}
#p4 {
  justify-self: start;
  margin-left: 21vw;
}
#p5 {
  justify-self: start;
  margin-left: 29vw;
}
#p6 {
  justify-self: start;
  margin-left: 37vw;
}
#p7 {
  justify-self: start;
  margin-left: 45vw;
}

.proj-animaR1 {
  animation: projanimationR1 1.4s linear;
}
@keyframes projanimationR1 {
  0% {
    transform: translate3d(-5%, 0%, 0px);
  }
  50% {
    transform: translate3d(1%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR2 {
  animation: projanimationR2 1.45s ease-in-out;
}
@keyframes projanimationR2 {
  0% {
    transform: translate3d(-15%, 0%, 0px);
  }
  50% {
    transform: translate3d(2%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR3 {
  animation: projanimationR3 1.5s ease-in-out;
}
@keyframes projanimationR3 {
  0% {
    transform: translate3d(-25%, 0%, 0px);
  }
  50% {
    transform: translate3d(3%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR4 {
  animation: projanimationR4 1.55s ease-in-out;
}
@keyframes projanimationR4 {
  0% {
    transform: translate3d(-35%, 0%, 0px);
  }
  50% {
    transform: translate3d(3%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR5 {
  animation: projanimationR5 1.65s ease-in-out;
}
@keyframes projanimationR5 {
  0% {
    transform: translate3d(-45%, 0%, 0px);
  }
  50% {
    transform: translate3d(3%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR6 {
  animation: projanimationR6 1.7s ease-in-out;
}
@keyframes projanimationR6 {
  0% {
    transform: translate3d(-55%, 0%, 0px);
  }
  50% {
    transform: translate3d(3%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}
.proj-animaR7 {
  animation: projanimationR7 1.75s ease-in-out;
}
@keyframes projanimationR7 {
  0% {
    transform: translate3d(-65%, 0%, 0px);
  }
  50% {
    transform: translate3d(3%, 0%, 0px);
  }
  100% {
    transform: none;
  }
}

.proj-hover-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  /* padding: -2px; */
  border-radius: 2px;
}
.proj h4 {
  color: rgb(6, 6, 6);
  cursor: pointer;
  width: 100%;

  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 24px;

  padding-top: 4px;
  padding-bottom: 4px;

  border-top: 1px solid rgb(98, 98, 98);

  text-align: center;
}

/* the clickable overlays for my projects */
#floater1,
#floater2,
#floater3,
#floater4,
#floater5,
#floater6,
#floater7 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* rgb(10,10,10) background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */ /* Add a pointer on hover */

  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: 1fr 90vh 1fr;

  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  overflow: hidden;
}
#floater1 div,
#floater2 div,
#floater3 div,
#floater4 div,
#floater5 div,
#floater6 div,
#floater7 div {
  padding: 10px;
  width: 100%;
  height: 100%;

  z-index: 5;
}
#F1,
#F2,
#F3,
#F4,
#F5,
#F6,
#F7 {
  grid-row: 2;
  grid-column: 2;

  padding-top: 0px !important;

  background-color: white;

  height: 100%;
  width: 100vw;

  border-radius: 4px;
  /* border: 1px solid rgb(98, 98, 98); */

  cursor: default !important;

  z-index: 6;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
}

.x-div {
  grid-row: 1;

  display: grid;

  padding: 0 !important;
  margin: 0 !important;
}
.x-btn {
  line-height: 1;
  justify-self: end;
  color: rgb(6, 6, 6);

  /* outline: 2px solid rgb(10,10,10); */
  /* border: 1px solid rgb(98, 98, 98); */
  border-radius: 2px;

  margin-top: 10px;
  margin-bottom: 9px;

  height: 36px;
  width: 36px;
  font-size: 34px;
  border-radius: 2px;
  font-weight: 400;

  background-color: rgba(6, 6, 6, 0);

  cursor: pointer;

  transition: all ease 0.25s;
}
.x-btn:hover {
  color: white;
  background-color: rgb(6, 6, 6);
}
#x1:hover,
#x3:hover,
#x5:hover,
#x7:hover {
  transform: rotate(180deg);
}
#x2:hover,
#x4:hover,
#x6:hover {
  transform: rotate(-180deg);
}
.x-btn:active {
  outline: 2px solid rgb(98, 98, 98);
}

.project-h3-div {
  grid-row: 3;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  align-items: center;
}
.project-h3-div h3 {
  color: rgb(6, 6, 6);
  grid-column: 1;
  grid-row: 1;

  font-weight: 500;
  font-size: 20px;

  letter-spacing: 1px;
  text-align: start;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  height: auto;
}
a {
  cursor: pointer;
  color: rgb(6, 6, 6);
  text-decoration: none;

  font-size: 24px;
  font-weight: 500;
}
#F1 p,
#F2 p,
#F3 p,
#F4 p,
#F5 p,
#F6 p,
#F7 p {
  margin: 10px;
  margin-top: 0px;

  grid-row: 4;

  color: rgb(6, 6, 6);

  font-size: 20px;
  line-height: 1.2;

  text-align: justify;
}
#F1 *,
#F2 *,
#F3 *,
#F4 *,
#F5 *,
#F6 *,
#F7 * {
  z-index: 7;
  /* filter: blur(0px) !important; */
}
.img-container1,
.img-container2,
.img-container3,
.img-container4,
.img-container5,
.img-container6,
.img-container7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  grid-row: 2;

  align-self: center;
  justify-self: center;

  width: 100%;
  /* max-width: 600px; */
}
.img-container1 {
  background-image: url('../../images/proj1overlay.webp');
}
.img-container2 {
  background-image: url('../../images/proj2overlay.webp');
}
.img-container3 {
  background-image: url('../../images/proj3overlay.webp');
}
.img-container4 {
  background-image: url('../../images/proj5overlay.webp');
}
.img-container5 {
  background-image: url('../../images/proj4overlay.webp');
}
.img-container6 {
  background-image: url('../../images/proj6overlay.png');
}
.img-container7 {
  background-image: url('../../images/proj7overlay.png');
}
/* .overlay-fade-in {
  animation: overlay-img-anima 1s ease-out;
}
@keyframes overlay-img-anima {
  0% {
    filter: brightness(0%);
  }
  100% {
    filter: brightness(100%);
  }
} */
i {
  color: rgb(6, 6, 6);
}
a:hover {
  text-decoration: underline;
}
.el {
  z-index: 10;

  height: 32px;
  width: 32px;
  opacity: 0.93;
  margin-left: 10px;

  margin-bottom: -6px;

  align-self: center;
  justify-self: center;
  filter: invert(1%);
}
.wiggles {
  animation: wiggle 2.2s linear 1s infinite;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-19deg);
  }
  20% {
    transform: rotateZ(13deg);
  }
  25% {
    transform: rotateZ(-11deg);
  }
  30% {
    transform: rotateZ(7deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.technologies {
  font-size: 18px;
  justify-self: end;

  align-self: center;
  text-align: center;
  font-style: italic;
  color: rgb(21, 21, 23);
}
