/* FOOTER */
.footer {
  background-color: rgb(10, 10, 10);
  background-color: white;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.or {
  /* color: white; */
  color: rgb(10, 10, 10);
  grid-row: 1;
  grid-column: 1;
  letter-spacing: -1px;

  width: 100%;

  font-size: 18px;

  text-align: center;

  padding-bottom: 20px;
}
.my-email {
  /* background-color: rgb(98, 98, 98); */
  background-color: white;
  grid-row: 2;
  grid-column: 1;

  display: grid;

  padding-bottom: 30px;
}
.my-email .gmx-email {
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 28px;
  letter-spacing: -1px;

  cursor: pointer;
  text-decoration: underline;
}
.footer-icons {
  /* border-top: 4px double rgb(98, 98, 98); */

  background-color: rgb(10, 10, 10);

  grid-row: 3;
  grid-column: 1;

  display: grid;
  grid-template-columns: 7fr auto 1fr auto 7fr;

  padding: 20px;
}
.footer-icons svg {
  height: 40px;
  width: 40px;

  cursor: pointer;
}
.redux-icon {
  grid-row: 1;
  grid-column: 2;

  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);

  background-color: rgba(255, 255, 255, 0.85);
}
.resume {
  grid-row: 1;
  grid-column: 4;

  fill: rgba(255, 255, 255, 0.86);

  transform: scale(0.95);
}
