/* FOOTER */
.footer {
  background-color: white;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.or {
  /* color: white; */
  color: rgb(6, 6, 6);
  grid-row: 1;
  grid-column: 1;
  letter-spacing: -1px;

  width: 100%;

  font-size: 18px;

  text-align: center;

  padding-bottom: 16px;
}
.my-email {
  background-color: white;
  grid-row: 2;
  grid-column: 1;

  display: grid;
  justify-content: center;

  padding-bottom: 30px;
}
.my-email .gmx-email {
  color: rgb(6, 6, 6);

  font-size: 28px;
  letter-spacing: -1px;
  width: min-content;

  cursor: pointer;
  text-decoration: underline rgb(6, 6, 6);
}
.footer-icons {
  /* border-top: 4px double rgb(98, 98, 98); */

  background-color: rgb(6, 6, 6);

  grid-row: 3;
  grid-column: 1;

  display: grid;
  grid-template-columns: 7fr auto 1fr auto 7fr;

  padding: 20px;
  padding-top: 26px;
}
.footer-icons svg {
  height: 40px;
  width: 40px;

  cursor: pointer;
}
.redux-icon {
  grid-row: 1;
  grid-column: 2;

  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);

  background-color: rgba(255, 255, 255, 0.9);
}
.resume {
  grid-row: 1;
  grid-column: 4;

  fill: rgba(255, 255, 255, 0.9);

  transform: scale(0.9);
}