/* responsiveness */
@media screen and (max-width: 760px) {
  * {
    animation-name: none !important;
  }
  a {
    font-size: 16px;
  }
  h3 {
    font-size: 34px !important;
    line-height: normal;
  }

  .landing-container h1 {
    font-size: 90px !important;
  }
  .landing-container h2 {
    width: 100%;
  }

  .about-me-container {
    min-height: 0vh;

    margin-top: 6vh;
    margin-bottom: 8vh;
  }
  .photo-container {
    display: none;
  }
  .about-me-container {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .p-container {
    grid-column: 1;
    margin-right: 0px;
  }

  .proj {
    width: 50%;
    max-height: 55vh;
    min-width: 0;
  }
  .x-btn {
    height: 26px;
    width: 26px;
    font-size: 24px;

    margin-bottom: 3px;
  }
  .el {
    height: 22px;
    width: 22px;

    margin-bottom: -4px;
  }
  .technologies {
    font-size: 14px;
  }

  .skills-container {
    margin-top: 8vh;
    margin-bottom: 8vh;
  }

  form * {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  p,
  span,
  textarea,
  input,
  button,
  a {
    font-size: 20px !important;
  }
  #arrow {
    display: none;
  }
  h3 {
    font-size: 24px !important;
    line-height: normal;
  }

  .landing-container h1 {
    font-size: 80px !important;
  }

  /* .second {
    margin-left: -6px;
  } */

  .p-container * {
    font-weight: 500;
  }
  .first {
    font-size: 30px !important;

    position: static;
    color: rgb(10, 10, 10);
  }
  .second {
    margin-left: -6px;
    /* 
    word-break: keep-all; */
  }

  .projects-container {
    clip-path: none !important;
  }
  .proj-h3-container {
    clip-path: none !important;
  }
  .projects-container h3 {
    width: 100%;

    justify-self: start;

    -webkit-clip-path: ellipse(60% 78% at 42% 78%);
    clip-path: ellipse(62% 78% at 42% 78%);
  }
  .proj {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
    width: 90%;
  }
  .x-btn {
    margin-top: 10px;

    height: 20px;
    width: 20px;
    font-size: 20px;
  }
  .technologies {
    display: none;
  }

  .gmx-email {
    font-size: 24px !important;
  }
  svg {
    height: 40px;
    width: 40px;
  }
  .skills-span {
    font-size: 11px !important;
  }
}

@media screen and (max-width: 450px) {
  /* p,
  span,
  textarea,
  input,
  button {
    font-size: 12px !important;
  } */

  .landing-container h1 {
    font-size: 60px !important;
  }
  .landing-container h2 {
    font-size: 20px;
  }

  /* h3,
  h4 {
    font-size: 20px !important;
  } */

  .overlay-img {
    max-height: fit-content;
  }
  svg {
    height: 24px !important;
    width: 24px !important;
  }
  .skills-span {
    display: none;
  }
}
